.woocommerce-input-wrapper input[type=datetime-local] {
	color: var(--sydney-grey-color);
	border: 1px solid var(--sydney-border-color);
	height: 50px;
	padding: 4px 20px;
	border-radius: 0;
	transition: all .3s ease-in-out;
}
