.woocommerce-input-wrapper input[type=datetime-local] {
	color: var(--sydney-grey-color);
	border: 1px solid var(--sydney-border-color);
	height: 50px;
	padding: 4px 20px;
	border-radius: 0;
	transition: all .3s ease-in-out;
}

.lkproduction-rental-details {
	border: solid 1px orange;
	background-color: lightyellow;
	padding: 10px;
	border-radius: 5px;
	text-align: left;
}

.lkproduction-rental-details h2 {
	margin-top: 0 !important;
}

.lkproduction-rental-details th,
.lkproduction-rental-details td {
	line-height: 1.2;
	padding: 10px !important;
	border: none;
	text-align: left;
}

.woocommerce-shipping-totals.shipping {
	display: none;
}

.collapsible-categories-menu {
	width: 100%;
}

.collapsible-categories-menu a {
	color: white !important;
}

.widget-area .widget .collapsible-categories-menu li {
	padding: 0;
}

.widget-area .widget.widget_search {
	margin-bottom: 10px !important;
}
