.text-small {
	font-size: 85%;
}

/* LK Rent tab icon in product detail */
#woocommerce-product-data ul.wc-tabs li.rental_inventory_options a:before { content: "\f513"; }

.popup-link-container > * {
	display: inline-block;
}

.popup-link-container .popup-link {
	display: inline-block;
	visibility: hidden;
	background-image: url('../static/popup-link.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 1em;
	width: 1em;
}

.popup-link-container:hover .popup-link {
	visibility: visible;
	text-decoration: none;
}

/* CUSTOM ORDERS */

.lk-custom-order-form .cols,
.lk-custom-order-form .form-cols {
	display: flex;
	flex-direction: row;
	align-items: start;
	gap: 5px;
}

.lk-custom-order-form .form-cols {
	gap: 1rem;
}

.lk-custom-order-form form .static-value {
	font-weight: bold;
}

.lk-custom-order-form form label {
	display: block;
	font-size: 85%;
	margin-top: 0.5rem;
}

.lk-order-products-table {
	margin-top: 1rem;
	border: solid 1px #ddd;
	border-radius: 10px;
	padding: 5px 5px 0 5px;
}

.lk-order-products-table thead {
	position: sticky;
	top: 32px;
	background: #f0f0f1;
}

.lk-order-products-table th {
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}

.lk-order-products-table tr.used td.price.total,
.lk-order-products-table tr.overbooked.used td.stock {
	font-weight: bold;
}

.lk-order-products-table tr h2 {
	text-align: center;
	margin: 10px;
}

.lk-order-products-table tr.product-row td {
	padding-right: 5px;
	border-bottom: 1px solid #ddd;
}

.lk-order-products-table tr.product-row:last-child td {
	border-bottom: none;
}

.lk-order-products-table tr.overbooked td.stock {
	color: red;
}

.lk-order-products-table td.price,
.lk-order-products-table td.stock {
	text-align: right;
}

.lk-order-products-table td.qty input {
	width: 4rem;
}

.lk-custom-order-form .form-footer {
	position: sticky;
	bottom: 0;
	background: #f0f0f1;
}

.lk-custom-order-form .form-footer td {
	border-top: 1px solid #ddd;
	padding-top: 5px;
	padding-bottom: 5px;
}

.lk-custom-order-form .form-footer .total-order-price {
	font-weight: bold;
}

/* CALENDAR */

#lk_rent_calendar {
	background: #fff;
	padding: 20px;
	border: 1px solid #ccd0d4;
	margin-top: 20px;
}

/* hide ugly notices in calendar */
#lk_rent_calendar .notice {
	display: none;
}
